<h1>Get To The End</h1>
<div>
    <span class="button" (click)="onNewGameClick()">New Game</span>
    <span class="button">Join Game</span>
    <span class="button">Saved Games</span>
    <span class="button">Settings</span>
</div>
<!-- <div>
    <h3>New Game</h3>
    <span class="button" (click)="onNewGameClick(Difficulty.EASY)">Easy</span>
    <span class="button" (click)="onNewGameClick(Difficulty.MEDIUM)">Medium</span>
    <span class="button" (click)="onNewGameClick(Difficulty.HARD)">Hard</span>
    <span class="button" (click)="onNewMultiplayerGameClick()">Multi Player</span>
    <h3>Existing Games</h3>
    <div>
        <table>
            <tr>
                <th>
                    Multi Player
                </th>
                <th>
                    Our Position
                </th>
                <th>
                    Their Position
                </th>
                <th>
                    Our Turn?
                </th>
            </tr>
            <tr *ngFor="let game of listAllExistingGames()">
                <td>
                    {{game.isRemote}}
                </td>
                <td>
                    {{game.getOurPosition()}}
                </td>
                <td>
                    {{game.getTheirPosition()}}
                </td>
                <td>
                    {{game.isOurTurn()}}
                </td>
                <td>
                    <span class="button" (click)="playExisting(game)">Play</span>
                </td>
            </tr>
        </table>
    </div>
</div> -->