#blocker {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000aa;
}

#box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid black;
    width: 200px;
}

#title {
    font-weight: bold;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    color: white;
    background-color: #4683c1;
}

#descriptionHolder {
    padding: 10px;
}

#box #description {
    margin-bottom: 20px;
}

#box button {
    width: 90%;
    margin: auto;
    margin-bottom: 5px;
}